examples/n8n/opencode-serve-proxy-workflow.json
{
  "name": "Opencode Serve Proxy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "opencode-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-in",
      "name": "Webhook In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "webhookId": "opencode-chat"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.OPENCODE_SERVER_URL || 'http://127.0.0.1:3002/v1/chat/completions'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "opencode-request",
      "name": "Call Opencode Serve",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        780,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook In": {
      "main": [
        [
          {
            "node": "Call Opencode Serve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Opencode Serve": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "opencode-serve-proxy"
}
